In [5]:
import pandas as pd

data = pd.read_csv('/content/purchase_data (1).csv')

print(data.to_string())
#find NAN
nan_df = data[data.isnull().any(axis=1)]

data = data.dropna(how='all')
data.head(70)

    Order ID                     Product  Quantity Ordered  Price Each        Order Date                          Purchase Address
0   176559.0  Bose SoundSport Headphones               1.0       99.99  04-07-2019 22:30         682 Chestnut St, Boston, MA 02215
1   176560.0                Google Phone               1.0      600.00  04-12-2019 14:38      669 Spruce St, Los Angeles, CA 90001
2   176560.0            Wired Headphones               1.0       11.99  04-12-2019 14:38      669 Spruce St, Los Angeles, CA 90001
3   176561.0            Wired Headphones               1.0       11.99     05/30/19 9:27         333 8th St, Los Angeles, CA 90001
4   176562.0        USB-C Charging Cable               1.0       11.95    04/29/19 13:03    381 Wilson St, San Francisco, CA 94016
5   176563.0  Bose SoundSport Headphones               1.0       99.99   05-02-2019 7:46          668 Center St, Seattle, WA 98101
6   176564.0        USB-C Charging Cable               1.0       11.95  04-12-2019 10:58           790 Ridge St, Atlanta, GA 30301
7   184074.0      AAA Batteries (4-pack)               1.0        2.99  04-12-2019 10:47       544 1st St, San Francisco, CA 94016
8   184075.0      AAA Batteries (4-pack)               1.0        2.99  04-03-2019 20:20             241 11th St, Austin, TX 73301
9   184076.0    Lightning Charging Cable               1.0       14.95    06/17/19 18:22    752 Chestnut St, Los Angeles, CA 90001
10  179776.0            Wired Headphones               2.0       11.99    04/21/19 21:38          978 Wilson St, Seattle, WA 98101
11  179790.0      AAA Batteries (4-pack)               2.0        2.99   04-10-2019 9:58            475 Adams St, Boston, MA 02215
12  179815.0            Wired Headphones               2.0       11.99    04/28/19 15:42              91 9th St, Seattle, WA 98101
13  179821.0      AAA Batteries (4-pack)               2.0        2.99    04/22/19 16:19             975 Main St, Dallas, TX 75001
14  179845.0      AAA Batteries (4-pack)               2.0        2.99  08-11-2019 13:08       541 Adams St, Los Angeles, CA 90001
15  179871.0      AAA Batteries (4-pack)               2.0        2.99     04/24/19 9:17      362 Lake St, San Francisco, CA 94016
16  179917.0       AA Batteries (4-pack)               2.0        3.84    04/24/19 22:19      152 Spruce St, Los Angeles, CA 90001
17  179918.0        USB-C Charging Cable               2.0       11.95    04/14/19 19:27              216 7th St, Dallas, TX 75001
18  179920.0       AA Batteries (4-pack)               2.0        3.84  04-11-2019 15:36            598 14th St, Seattle, WA 98101
19  179943.0      AAA Batteries (4-pack)               2.0        2.99    08/14/19 11:08          344 River St, Portland, OR 97035
20  179970.0      AAA Batteries (4-pack)               2.0        2.99    04/18/19 18:44        668 Lake St, Los Angeles, CA 90001
21  180004.0    Lightning Charging Cable               2.0       14.95  08-06-2019 19:38   307 Lincoln St, New York City, NY 10001
22  187091.0       AA Batteries (4-pack)               3.0        3.84  04-04-2019 13:50     303 Ridge St, San Francisco, CA 94016
23  187147.0      AAA Batteries (4-pack)               3.0        2.99    04/23/19 17:42      929 Willow St, Los Angeles, CA 90001
24  187170.0      AAA Batteries (4-pack)               3.0        2.99  08-09-2019 23:11       810 Ridge St, Los Angeles, CA 90001
25  187467.0       AA Batteries (4-pack)               3.0        3.84    04/13/19 11:50    747 Center St, New York City, NY 10001
26  187475.0      AAA Batteries (4-pack)               3.0        2.99  04-02-2019 14:05      859 Wilson St, Los Angeles, CA 90001
27  187505.0       AA Batteries (4-pack)               3.0        3.84    04/14/19 11:40           752 Ridge St, Atlanta, GA 30301
28  187567.0      AAA Batteries (4-pack)               3.0        2.99    04/16/19 20:44  855 Highland St, New York City, NY 10001
29  187588.0       AA Batteries (4-pack)               3.0        3.84    04/16/19 20:44              80 Main St, Boston, MA 02215
30  187656.0       AA Batteries (4-pack)               3.0        3.84    04/23/19 16:44            376 6th St, Portland, OR 97035
31  187728.0      AAA Batteries (4-pack)               3.0        2.99  04-02-2019 14:29      430 Park St, San Francisco, CA 94016
32  187740.0       AA Batteries (4-pack)               3.0        3.84     09/30/19 1:58            77 South St, Atlanta, GA 30301
33  187806.0      AAA Batteries (4-pack)               3.0        2.99    04/19/19 18:54         159 1st St, Los Angeles, CA 90001
34  187857.0      AAA Batteries (4-pack)               3.0        2.99    09/23/19 20:40   384 Hickory St, San Francisco, CA 94016
35  187895.0       AA Batteries (4-pack)               3.0        3.84  09-01-2019 20:54             647 14th St, Austin, TX 73301
36       NaN                         NaN               NaN         NaN               NaN                                       NaN
37  188069.0      AAA Batteries (4-pack)               3.0        2.99    10/21/19 14:07        472 Chestnut St, Atlanta, GA 30301
38  180790.0       AA Batteries (4-pack)               4.0        3.84  04-03-2019 17:01              626 7th St, Boston, MA 02215
39  180941.0      AAA Batteries (4-pack)               4.0        2.99    04/21/19 19:39       725 2nd St, San Francisco, CA 94016
40  181213.0       AA Batteries (4-pack)               4.0        3.84    10/28/19 14:51       919 5th St, New York City, NY 10001
41  181642.0       AA Batteries (4-pack)               4.0        3.84  10-01-2019 16:02      695 12th St, San Francisco, CA 94016
42  181976.0        USB-C Charging Cable               4.0       11.95  04-02-2019 11:02             561 2nd St, Atlanta, GA 30301
43  182448.0      AAA Batteries (4-pack)               4.0        2.99   04-07-2019 8:52         456 Dogwood St, Atlanta, GA 30301
44  182538.0      AAA Batteries (4-pack)               4.0        2.99    04/23/19 22:06             516 6th St, Atlanta, GA 30301
45  182660.0      AAA Batteries (4-pack)               4.0        2.99  11-05-2019 22:47       291 Chestnut St, Portland, OR 97035
46  185349.0      AAA Batteries (4-pack)               5.0        2.99     04/26/19 7:26           675 Center St, Boston, MA 02215
47  185711.0       AA Batteries (4-pack)               5.0        3.84  11-10-2019 11:54       481 South St, Los Angeles, CA 90001
48  185915.0       AA Batteries (4-pack)               5.0        3.84    11/14/19 17:15      749 Sunset St, Los Angeles, CA 90001
49  186028.0      AAA Batteries (4-pack)               5.0        2.99  11-12-2019 13:54  414 Chestnut St, San Francisco, CA 94016
50  186331.0      AAA Batteries (4-pack)               5.0        2.99  04-09-2019 11:35         553 2nd St, Los Angeles, CA 90001
51       NaN                         NaN               NaN         NaN               NaN                                       NaN
52  187182.0       AA Batteries (4-pack)               5.0        3.84  04-06-2019 13:05      34 South St, New York City, NY 10001
53  188953.0      AAA Batteries (4-pack)               5.0        2.99     04/30/19 9:32        20 Maple St, Los Angeles, CA 90001
54  190462.0       AA Batteries (4-pack)               5.0        3.84  04-04-2019 12:28        273 Jackson St, Portland, OR 97035
55  190838.0       AA Batteries (4-pack)               5.0        3.84    04/13/19 12:59             787 Main St, Boston, MA 02215
56  192160.0      AAA Batteries (4-pack)               5.0        2.99     04/22/19 0:03      498 Washington St, Atlanta, GA 30301
57  192932.0      AAA Batteries (4-pack)               5.0        2.99  12-08-2019 16:51         553 Dogwood St, Seattle, WA 98101
58  177838.0      AAA Batteries (4-pack)               6.0        2.99     12/29/19 0:16      872 Pine St, San Francisco, CA 94016
59  179865.0      AAA Batteries (4-pack)               6.0        2.99    12/14/19 11:24            83 Willow St, Austin, TX 73301
60  183636.0      AAA Batteries (4-pack)               6.0        2.99    04/30/19 10:28             116 11th St, Boston, MA 02215
61  177160.0      AAA Batteries (4-pack)               7.0        2.99    04/26/19 11:37              689 7th St, Dallas, TX 75001
62  259327.0    Apple Airpods Headphones               1.0      150.00    09/20/19 18:45          505 Spruce St, Seattle, WA 98101
63  259328.0            Wired Headphones               1.0       11.99    09/18/19 10:13          877 Lincoln St, Boston, MA 02215
64  259329.0    Lightning Charging Cable               1.0       14.95  09-05-2019 19:00         480 Lincoln St, Atlanta, GA 30301
65  259330.0       AA Batteries (4-pack)               2.0        3.84    09/25/19 22:01      763 Washington St, Seattle, WA 98101
66  259331.0    Apple Airpods Headphones               1.0      150.00     09/29/19 7:00       770 4th St, New York City, NY 10001
67  259332.0    Apple Airpods Headphones               1.0      150.00    09/16/19 19:21            782 Lake St, Atlanta, GA 30301
68  259333.0  Bose SoundSport Headphones               1.0       99.99    09/19/19 18:03     347 Ridge St, San Francisco, CA 94016

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215"
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001"
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
...,...,...,...,...,...,...
64,259329.0,Lightning Charging Cable,1.0,14.95,09-05-2019 19:00,"480 Lincoln St, Atlanta, GA 30301"
65,259330.0,AA Batteries (4-pack),2.0,3.84,09/25/19 22:01,"763 Washington St, Seattle, WA 98101"
66,259331.0,Apple Airpods Headphones,1.0,150.00,09/29/19 7:00,"770 4th St, New York City, NY 10001"
67,259332.0,Apple Airpods Headphones,1.0,150.00,09/16/19 19:21,"782 Lake St, Atlanta, GA 30301"
68,259333.0,Bose SoundSport Headphones,1.0,99.99,09/19/19 18:03,"347 Ridge St, San Francisco, CA 94016"

In [8]:
data = data[data['Order Date'].str[0:2]!='Or']

print(data['Order Date'])

0     04-07-2019 22:30
1     04-12-2019 14:38
2     04-12-2019 14:38
3        05/30/19 9:27
4       04/29/19 13:03
            ...
64    09-05-2019 19:00
65      09/25/19 22:01
66       09/29/19 7:00
67      09/16/19 19:21
68      09/19/19 18:03
Name: Order Date, Length: 67, dtype: object

In [9]:
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'])

data['Quantity Ordered']

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
64    1.0
65    2.0
66    1.0
67    1.0
68    1.0
Name: Quantity Ordered, Length: 67, dtype: float64

In [10]:
data['Month']= data['Order Date'].str[0:2]
data['Month']= data['Month'].astype('int32')
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4

In [11]:
data['Month 2']=pd.to_datetime(data['Order Date']).dt.month
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4

In [12]:
data['Day']=pd.to_datetime(data['Order Date']).dt.day
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2,Day
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4,7
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4,12
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4,12
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5,30
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4,29

In [13]:
data['Year']=pd.to_datetime(data['Order Date']).dt.year
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2,Day,Year
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4,7,2019
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4,12,2019
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4,12,2019
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5,30,2019
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4,29,2019

In [14]:
data['Hours']=pd.to_datetime(data['Order Date']).dt.hour
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2,Day,Year,Hours
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4,7,2019,22
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4,12,2019,14
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4,12,2019,14
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5,30,2019,9
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4,29,2019,13

In [15]:
data['Minutes']=pd.to_datetime(data['Order Date']).dt.minute
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2,Day,Year,Hours,Minutes
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4,7,2019,22,30
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4,12,2019,14,38
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4,12,2019,14,38
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5,30,2019,9,27
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4,29,2019,13,3

In [16]:
def get_city(address):
  return address.split(',')[1].strip(" ")

def get_state(address):
  return address.split(',')[2].split(" ")[1]

data['City']= data['Purchase Address'].apply(lambda x: f'{get_city(x)}  ({get_state(x)})')
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Month 2,Day,Year,Hours,Minutes,City
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",99.99,4,4,7,2019,22,30,Boston (MA)
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00,4,4,12,2019,14,38,Los Angeles (CA)
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99,4,4,12,2019,14,38,Los Angeles (CA)
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",11.99,5,5,30,2019,9,27,Los Angeles (CA)
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",11.95,4,4,29,2019,13,3,San Francisco (CA)

In [17]:
data['Sales']  = data['Quantity Ordered'].astype('int') * data['Price Each'].astype('float')

In [18]:
data.groupby(['Month']).sum()

<ipython-input-18-9f56799fde73>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['Month']).sum()

,Order ID,Quantity Ordered,Price Each,Sales,Month 2,Day,Year,Hours,Minutes
Month,,,,,,,,,
4,7335546.0,123.0,885.80,1210.76,160,613,80760,563,1289
5,353124.0,2.0,111.98,111.98,10,32,4038,16,73
6,184076.0,1.0,14.95,14.95,6,17,2019,18,22
8,726962.0,9.0,23.92,50.83,32,40,8076,66,65
9,2378802.0,17.0,591.44,616.62,90,186,20190,154,235
10,550924.0,11.0,10.67,39.69,30,50,6057,44,60
11,740314.0,19.0,13.66,65.31,44,41,8076,63,170
12,550635.0,17.0,8.97,50.83,36,51,6057,27,91

In [19]:
city_max = data.groupby(['City']).sum()
print(max(city_max))
print(city_max[0])

Year

<ipython-input-19-7b2220ca5c85>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  city_max = data.groupby(['City']).sum()

KeyError: ignored

In [20]:
def get_city(address):
    return address.split(",")[1].strip(" ")

data['City'] = data['Purchase Address'].apply(lambda x: f"{get_city(x)}")
data.head()
city_max=data.groupby(['City']).sum()
print(max(city_max))

Year

<ipython-input-20-b303a3e7536c>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  city_max=data.groupby(['City']).sum()